{% extends "default.html" %}

{% block title %}Añadir más alumnos{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', path='css/azul.css') }}">
{% endblock %}

{% block content %}
  <div class="col-sm-9">
    <br>
    <h1>ALUMNO AÑADIDO CORRECTAMENTE</h1>
    <br>
    
    <h1>Puedes añadir más alumnos si lo deseas</h1> <br>
<form action="{{ url_for('add_alumnos') }}" method="post">
    <input type="text" name="nombre" placeholder="Nombre del alumno" required>
    <input type="number" name="nota1" placeholder="Nota 1" required>
    <input type="number" name="nota2" placeholder="Nota 2" required>
    <input type="number" name="nota3" placeholder="Nota 3" required>
    <input type="submit" value="Añadir">
</form>

  </div>
  <br>

{% endblock %}