<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi Web{% endblock %}</title>
    {% block css%}
    <link rel="stylesheet" href="{{ url_for('static',path='css/azul.css') }}">
    {% endblock %}
</head>

<div class="topnav">
  {% if menu %}
    {% if menu.home %}
      <a href="{{ url_for('get_alumnos') }}">VER TABLA ALUMNOS</a>
    {% endif %}
    {% if menu.add %}
    <a href="{{ url_for('ver_notas') }}">ORDEN ALUMNOS</a>
      <a href="{{ url_for('form_add_alumnos') }}">AÑADIR ALUMNOS</a> 
      <a href="">ELIMINAR ALUMNOS</a>
      <a href="">ACTUALIZAR NOTAS</a>
    {% endif %}
  {% endif %}
</div>
    <div class="main">
        {% block content %}{% endblock %}
    </div>

    <div class="footer">
        <p>Jeremy Martínez - IMPLANTACIÓN DE APLICACIONES WEB</p>
    </div>

</body>
</html>